<!-- list data request money -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Запросы денег</h6>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/transactions" class="small">Новый запрос</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1"><a routerLink="/profile" class="fw-medium">Светлана</a> <span
                                class="text-secondary"> отправила запрос</span></p>
                        <p>1500 <span class="text-secondary">&#8381;</span> <small class="text-secondary"> 1 мин.
                                назад</small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="small mb-1"><a routerLink="/profile" class="fw-medium">Денис</a>
                            <span class="text-secondary">отправил запрос</span>
                        </p>
                        <p>15000 <span class="text-secondary">&#8381;</span> <small class="text-secondary"> 5 мин.
                                назад</small>
                        </p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-44 btn-light text-danger shadow-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-44 shadow-sm rounded-10">
                            <img src="assets/img/user2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <div class="row">
                            <div class="col">
                                <p class="small mb-1">
                                    <a routerLink="/profile" class="fw-medium">Алиса Монн</a>
                                    <span class="text-secondary"> Помогла Вам</span>
                                </p>
                                <p>150000 <span class="text-secondary">&#8381;</span></p>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="tag tag-small bg-success border-success text-white px-2">
                                    Выполнено
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
