<!-- Banner FAQs -->
<div class="row mb-4 position-relative py-5 bg-theme">
    <div class="col-10 col-md-6 col-lg-4 mx-auto align-self-center">
        <h5 class="text-center mb-2">Часто задаваемые вопросы</h5>
        <p class="text-center text-muted">Выполните поиск по запросу или пройдите по желаемой категории выбора и вопросам.</p>
        <div class="form-floating">
            <input type="text" class="form-control is-valid text-white border-white" id="search" placeholder="Search">
            <label for="search">Поиск</label>
            <button type="button" class="btn btn-link tooltip-btn d-block text-white">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</div>
<!-- Question list -->
<div class="row mb-3">
    <div class="col">
        <h6 class="mb-0">Найдите правильный ответ</h6>
    </div>
</div>
<div class="accordion accordion-flush shadow-sm mb-4" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                Насколько FinWallApp является гибким шаблоном?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-secondary">FinWallApp предоставляет широкий диапазон различных
              компонентов или интерфейса пользовательского интерфейса на основе модулей, которые являются
               syc или последовательными со всем шаблоном. Это единственная причина, по которой MoobileUx
              является гибким для создания страниц и разработки. </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Об использовании FinWallApp третьими лицами?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-secondary">FinWallApp предоставляет широкий диапазон различных
              компонентов или интерфейса пользовательского интерфейса на основе модулей, которые являются
               syc или последовательными со всем шаблоном. Это единственная причина, по которой MoobileUx
              является гибким для создания страниц и разработки. </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Почему мы лучшие в своем классе
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body text-secondary">FinWallApp предоставляет широкий диапазон различных
              компонентов или интерфейса пользовательского интерфейса на основе модулей, которые являются
               syc или последовательными со всем шаблоном. Это единственная причина, по которой MoobileUx
              является гибким для создания страниц и разработки. </div>
        </div>
    </div>
</div>
<!-- categories tags -->
<div class="row mb-3">
    <div class="col">
        <h6 class="mb-0">Are you looking for </h6>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-2">
        <div class="tag tag-large border me-2 mb-3 shadow-sm">Доставка</div>
        <div class="tag tag-large border active me-2 mb-3 shadow-sm">Оплата</div>
        <div class="tag tag-large border me-2 mb-3 shadow-sm">Выбор</div>
        <div class="tag tag-large border me-2 mb-3 shadow-sm">Обратная связь</div>
        <div class="tag tag-large border me-2 mb-3 shadow-sm">Предложения</div>
        <div class="tag tag-large border me-2 mb-3 shadow-sm">Email</div>
    </div>
</div>
