<!-- Biling -->
<div class="row mb-3">
    <div class="col align-self-center">
        <div class="card">
            <div class="card-header bg-success text-white">
                <div class="row">
                    <div class="col-auto">
                        <h6 class="mb-1">Накладная</h6>
                        <p>Id: <b>#123456</b></p>
                    </div>
                    <div class="col text-end">
                        <h6 class="mb-1"><i class="bi bi-check-circle"></i> Оплачено</h6>
                        <p>GSTIN: <b>07124AEIPJ54</b></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                        <p class="mb-2">Продавец:</p>
                        <p class="text-secondary">FinWallapp,
                            <br> 1234 Main Apt., 4B Springfield,<br>ST 54321
                        </p>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <p class="mb-2">Счет выставлен:</p>
                        <p class="text-secondary">Maxartkiller,
                            <br> 1234 Main Apt., 4B Springfield,<br>ST 54321
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 col-md-6 mb-4">
                        <p class="mb-2">Способ оплаты:</p>
                        <p class="text-secondary ">Visa ending **** 4242
                            <br>
                            <a routerLink="/">maxartkiller@maxartkiller.com</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="mb-2">Дата заказа:</p>
                        <p class="text-secondary">Aug 7, 2021
                            <br><span class="text-danger">Оплатить до 1 дек, 2021</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- products -->
<div class="row mb-2">
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories4.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-secondary size-12">LAVA B500</small>
                        </p>
                        <h5>26500.00 &#8381;<small class="text-secondary size-12"> x 2 шт</small></h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <a routerLink="/track">Отслеживание <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories1.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-secondary size-12">Samsug TV
                                SM5500</small></p>
                        <h5>16500.00 &#8381;</h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <a routerLink="/track">Отслеживание <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <figure class="avatar avatar-60 rounded-15 border">
                            <img src="assets/img/categories2.png" alt="" class="w-100">
                        </figure>
                    </div>
                    <div class="col align-self-center">
                        <p class="mb-0"><small class="text-secondary size-12">ТОП-предложение одежда</small>
                        </p>
                        <h5>590.00 &#8381;</h5>
                    </div>
                    <div class="col-auto align-self-center ps-0">
                        <a routerLink="/track">Отслеживание <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- pricing -->
<div class="row mb-4">
    <div class="col align-self-center">
        <h6 class="title">Ценовая политика</h6>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <p>Стоимость доставки</p>
    </div>
    <div class="col-auto">1000.00 &#8381;</div>
</div>
<div class="row mb-3">
    <div class="col">
        <p>Промежуточный итог</p>
    </div>
    <div class="col-auto">3200.00 &#8381;</div>
</div>

<div class="row mb-3 text-success">
    <div class="col">
        <p>Скидка</p>
    </div>
    <div class="col-auto">890.00 &#8381;</div>
</div>

<div class="row fw-bold mb-4">
    <div class="mb-3 col-12">
        <div class="dashed-line"></div>
    </div>
    <div class="col">
        <p>Общий итог</p>
    </div>
    <div class="col-auto">4000.00 &#8381;</div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <a routerLink="/myorders" class="btn btn-default shadow-sm btn-lg w-100">Распечатать</a>
    </div>
</div>
