<!-- select contacts -->
<div class="row mb-3">
    <div class="col-auto">
        <div class="card">
            <div class="card-body p-1">
                <div class="avatar avatar-44 rounded-15 shadow-sm">
                    <img src="assets/img/company3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col align-self-center ps-0">
        <p class="mb-1 text-color-theme">Волмарт</p>
        <p class="text-muted size-12">Накладная ID: IDE0515416385</p>
    </div>
    <div class="col-auto">
        <a routerLink="/bills" class="btn btn-default btn-44 shadow-sm">
            <i class="bi bi-receipt"></i>
        </a>
    </div>
</div>
<div class="row mb-3">
    <div class="col-auto">
        <div class="avatar-group">
            <div class="avatar avatar-50 rounded-20 shadow-sm bg-white p-1">
                <img src="assets/img/user2.jpg" alt="" class="rounded-15">
            </div>
            <div class="avatar avatar-50 rounded-20 shadow-sm bg-white p-1">
                <img src="assets/img/user3.jpg" alt="" class="rounded-15">
            </div>
            <div class="avatar avatar-50 rounded-20 shadow-sm bg-white p-1">
                <img src="assets/img/user4.jpg" alt="" class="rounded-15">
            </div>
            <div class="avatar avatar-50 rounded-20 shadow-sm bg-white p-1">
                <img src="assets/img/user1.jpg" alt="" class="rounded-15">
            </div>
        </div>
    </div>
    <div class="col align-self-center ps-0">
        <p class="text-muted small">+15<br>более</p>
    </div>
    <div class="col-auto">
        <button class="btn btn-default btn-44 shadow-sm">
            <i class="bi bi-person-badge"></i>
        </button>
    </div>
</div>
<!-- select Amount -->
<div class="row">
    <div class="col-12 text-center mb-4">
        <input type="text" class="trasparent-input text-center" value="" placeholder="Сумма" [(ngModel)]="amount">
    </div>
</div>
<div class="row">
  <div class="col-12 text-center mb-4">
    <input type="text" class="trasparent-input text-center" value="" placeholder="Id" [(ngModel)]="toUserId">
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <label for="fromCurrency">Отправить с</label>
    <select name="from" class="form-control" id="fromCurrency" [(ngModel)]="fromCurrency" (change)="editFrom()">
      <option value="2">Рубли</option>
      <option value="3">Доллар</option>
      <option value="4">Евро</option>
      <option value="5">Биткоин</option>
      <option value="6">Tether</option>
      <option value="7">Ethereum</option>
    </select>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <label for="toCurrency">Отправить на</label>
    <select name="from" class="form-control" id="toCurrency" [(ngModel)]="toCurrency" (change)="editTo()">
      <option value="2">Рубли</option>
      <option value="3">Доллар</option>
      <option value="4">Евро</option>
      <option value="5">Биткоин</option>
      <option value="6">Tether</option>
      <option value="7">Ethereum</option>
    </select>
  </div>
</div>
<!-- coupon code-->
<!-- Amount breakdown -->
<!-- Saving targets -->
<!-- swiper credit cards -->
<div class="row mb-4">
    <div class="col-12 ">
        <a (click)="sendMoney()" class="btn btn-default btn-lg shadow-sm w-100">
            Добавить в кошелек
        </a>
    </div>
</div>
<p style="color: red;margin-left: 15px;">{{ error }}</p>
