<!-- notification list -->
<div class="row">
    <div class="col-12 px-0">
        <div class="list-group list-group-flush bg-none">
            <a class="list-group-item bg-white">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user1.jpg);">
                                    <img src="assets/img/user1.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Анна, Анатолий</b>, <b>Дмитрий Сергеев</b> и <b>еще 36 человек</b>
                            сделали заказ в этом же ресторане </p>
                        <p class="size-12 text-secondary">2 дня назад</p>
                    </div>
                </div>
            </a>
            <div class="list-group-item bg-light text-center py-2 text-mute">В этом месяце</div>
            <a class="list-group-item bg-white">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user3.jpg);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Виталий</b> Ваш заказ будет доставлен</p>
                        <p class="size-12 text-secondary">неделю назад</p>
                    </div>
                </div>
            </a>
            <a class="list-group-item bg-white">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user1.jpg);">
                                    <img src="assets/img/user1.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Евгений</b> Ваш заказ будет доставлен</p>
                        <p class="size-12 text-secondary">2 недели назад</p>
                    </div>
                </div>
            </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user2.jpg);">
                                    <img src="assets/img/user2.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Максим</b> Ваш заказ будет доставлен</p>
                        <p class="size-12 text-secondary">2 недели назад</p>
                    </div>
                </div>
            </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user3.jpg);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Слава </b> теперь доступен для принятия вашего заказа. нажмите, чтобы продолжить заказ в корзине.</p>
                        <p class="size-12 text-secondary">3 недели назад</p>
                    </div>
                </div>
            </a>
            <div class="list-group-item bg-light text-center py-2 text-mute">Ранее</div>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user2.jpg);">
                                    <img src="assets/img/user2.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Алексей Болдин</b> доставим Ваш заказ</p>
                        <p class="size-12 text-secondary">1 месяц назад</p>
                    </div>
                </div>
            </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 coverimg rounded-15" style="background-image: url(assets/img/user3.jpg);">
                                    <img src="assets/img/user3.jpg" alt="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-1"><b>Игорь</b> доствим Ваш заказ</p>
                        <p class="size-12 text-secondary">2 месяца назад</p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>
