<!-- timeline -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h6 class="my-1">Журнал информации 2</h6>
            </div>
            <div class="card-body bg-light">
                <ul class="list-group list-group-flush w-100 bubble-sheet log-information">
                    <li class="list-group-item">
                        <div class="avatar avatar-15 border-danger rounded-circle"></div>
                        <p><span class="text-color-theme">Система обновлена</span>
                            <br><small class="text-muted">2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-warning rounded-circle"></span>
                        <p><span class="text-color-theme">Создан новый аккаунт</span>
                            <br><small class="text-muted">5:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-color-theme">Отключение через 2 часа</span>
                            <br><small class="text-muted">Вчера | 2:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-primary rounded-circle"></span>
                        <p><span class="">Система обновлена</span>
                            <br><small class="text-muted">Вчера | 1:32 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-dark rounded-circle"></span>
                        <p><span class="">Изменения выполнены!</span>
                            <br><small class="text-muted">14 октября 2021 | 2:02 am</small></p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-0">3:55 - 4:00 pm</h6>
                        <p class="text-muted small">Неактивные часы</p>
                    </div>
                    <div class="col-auto">
                        <h6 class="mb-0">2:65 min</h6>
                        <p class="text-muted small">Активные часы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h6 class="my-1">Журнал информации</h6>
            </div>
            <div class="card-body bg-light">
                <ul class="list-group list-group-flush w-100 log-information">
                    <li class="list-group-item">
                        <div class="avatar avatar-15 border-danger rounded-circle"></div>
                        <p><span class="text-color-theme">Система обновлена</span>
                            <br><small class="text-muted">2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-warning rounded-circle"></span>
                        <p><span class="text-color-theme">Создан новый аккаунт</span>
                            <br><small class="text-muted">5:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-success rounded-circle"></span>
                        <p><span class="text-color-theme">Отключение через 2 часа</span>
                            <br><small class="text-muted">Вчера | 2:02 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-primary rounded-circle"></span>
                        <p><span class="text-color-theme">Система обновлена</span>
                            <br><small class="text-muted">Вчера | 1:32 pm</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-dark rounded-circle"></span>
                        <p><span class="text-color-theme">Изменения сделаны!</span>
                            <br><small class="text-muted">14 октября 2021 | 2:02 am</small></p>
                    </li>
                    <li class="list-group-item">
                        <span class="avatar avatar-15 border-secondary rounded-circle"></span>
                        <p><span class="text-color-theme">Actions changes done!</span>
                            <br><small class="text-muted">14 октября 2018 | 2:02 am</small></p>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-0">3:55 - 4:00 pm</h6>
                        <p class="text-muted small">Неактивные часы</p>
                    </div>
                    <div class="col-auto text-end">
                        <h6 class="mb-0">2:65 min</h6>
                        <p class="text-muted small">Активные часы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
