<!-- Blog/News Details banner -->
<div class="row">
    <div class="col-12 px-0">
        <div class="card mb-4 overflow-hidden shadow-sm card-theme text-white rounded-0">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-3" style="background-image: url(assets/img/news1.jpg);">
                <img src="assets/img/news1.jpg" alt="" style="display: none;">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col">
                        <span class="tag bg-theme">Тенденции</span>
                    </div>
                    <div class="col-auto">
                        <button
                            class="btn btn-info text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-share"></i></button>
                        <button
                            class="btn btn-success text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-bookmark"></i></button>
                    </div>
                </div>
                <br>
                <a routerLink="/blogdetails" class="h4 mb-1 text-normal d-block text-white">Лучшее открытие
                     в UX</a>
                <p class="mb-3">Опубликовано: 26/12/2021</p>
                <div class="d-flex">
                    <figure class="avatar avatar-40 rounded-15">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    <p class="mx-2 lh-small align-self-center">Алиса Монн<br /><span
                            class="small">Автор</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blogs/News Content  -->
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <p class="text-secondary">Lorem Ipsum - это просто фиктивный текст полиграфической и наборной промышленности.
          Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный
          типограф взял типографский набор и скремблировал его, чтобы сделать типографский образец книги.</p>

        <figure class="overflow-hidden rounded-15 text-center">
            <img src="assets/img/news3.jpg" alt="" class="mw-100 mx-auto">
        </figure>

        <h5 class="mb-3">Лучший шаблон класса с подробными сведениями</h5>
        <p class="text-secondary">Lorem Ipsum - это просто фиктивный текст полиграфической и наборной промышленности.
          Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный
          типограф взял типографский набор и скремблировал его, чтобы сделать типографский образец книги.</p>

        <div class="row">
            <div class="col-12">
                <figure class="overflow-hidden rounded-15 text-center">
                    <img src="assets/img/news1.jpg" alt="" class="w-100 mx-auto">
                </figure>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 mb-3">
                        <figure class="overflow-hidden rounded-15 text-center">
                            <img src="assets/img/news2.jpg" alt="" class="w-100 mx-auto">
                        </figure>
                    </div>
                    <div class="col-6">
                        <figure class="overflow-hidden rounded-15 text-center">
                            <img src="assets/img/news3.jpg" alt="" class="w-100 mx-auto">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <h3>Поделитесь </h3>
        <h5 class="mb-3 text-secondary">Помогите нам получить больше</h5>
        <p class="text-secondary">Lorem Ipsum - это просто фиктивный текст полиграфической и наборной промышленности.
          Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный
          типограф взял типографский набор и скремблировал его, чтобы сделать типографский образец книги.</p>

        <div class="card mb-4 overflow-hidden shadow-sm card-theme text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-3" style="background-image: url(assets/img/news1.jpg);">
                <img src="assets/img/news1.jpg" alt="" style="display: none;">
            </div>
            <div class="card-body">
                <br><br><br>
                <a routerLink="/blogdetails" class="h5 text-normal d-block text-white">Лучшее открытие
                    в UX</a>
                <p class="small">Декабрь 2021</p>
                <div class="small d-flex">
                    <figure class="avatar avatar-36 rounded-15">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    <p class="mx-2">Алиса Монн<br><span class="text-muted">Автор</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mb-4 overflow-hidden shadow-sm card-theme text-white">
                    <div class="overlay"></div>
                    <div class="coverimg h-100 w-100 position-absolute opacity-3" style="background-image: url(assets/img/news3.jpg);">
                        <img src="assets/img/news3.jpg" alt="" style="display: none;">
                    </div>
                    <div class="card-body">
                        <br><br><br>
                        <a routerLink="/blogdetails" class="h6 text-normal d-block text-white">Лучшее
                            открытие в UX</a>
                        <p class="small">Предстоящий</p>
                        <div class="small d-flex">
                            <figure class="avatar avatar-20 rounded-10">
                                <img src="assets/img/user2.jpg" alt="">
                            </figure>
                            <p class="mx-2">Алиса Монн</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-4 overflow-hidden shadow-sm card-theme  text-white">
                    <div class="overlay"></div>
                    <div class="coverimg h-100 w-100 position-absolute opacity-3" style="background-image: url(assets/img/news1.jpg);">
                        <img src="assets/img/news1.jpg" alt="" style="display: none;">
                    </div>
                    <div class="card-body">
                        <br><br><br>
                        <a routerLink="/blogdetails" class="h6 text-normal d-block text-white">Лучшее
                            открытие в UX</a>
                        <p class="small">Опубликовано </p>
                        <div class="small d-flex">
                            <figure class="avatar avatar-20 rounded-10">
                                <img src="assets/img/user2.jpg" alt="">
                            </figure>
                            <p class="mx-2">Алиса Монн</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="mb-3">Помогите нам получть больше</h5>
        <p class="text-secondary mb-4">Lorem Ipsum - это просто фиктивный текст полиграфической и наборной промышленности.
          Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный
          типограф взял типографский набор и скремблировал его, чтобы сделать типографский образец книги.</p>
        <div class="row mb-4">
            <div class="col-12">
                <div class="row py-3 gx-3">
                    <div class="col-auto position-relative">
                        <div class="card">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-50 rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a routerLink="/profile" class="mb-0 text-normal d-block text-color-theme">Анжелика
                            Мохан <i class="bi bi-arrow-right-short"></i></a>
                        <p class="mb-3">
                            Приобретенный
                            <span class="float-end small">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </span>
                        </p>
                        <p class="text-secondary">Морковь Lorem ipsum, экологический томатный суп.
                          Андроид автоматизированный актив, если только, eget malesuada ligula ultricies sit amet.
                          Сеть превратилась из ЕС в недвижимость недвижимость.</p>
                    </div>
                </div>

                <div class="row py-3 gx-3">
                    <div class="col-auto position-relative">
                        <div class="card">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-50 rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a routerLink="/profile" class="mb-0 text-normal d-block text-color-theme">Юлия
                            Вилкова <i class="bi bi-arrow-right-short"></i></a>
                        <p class="mb-3">
                            Приобретенный
                            <span class="float-end small">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </span>
                        </p>
                        <p class="text-secondary">Морковь Lorem ipsum, экологический томатный суп.
                          Андроид автоматизированный актив, если только, eget malesuada ligula ultricies sit amet.
                          Сеть превратилась из ЕС в недвижимость недвижимость.</p>
                    </div>
                </div>

                <div class="row py-3 gx-3">
                    <div class="col-auto position-relative">
                        <div class="card">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-50 rounded-15">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a routerLink="/profile" class="mb-0 text-normal d-block text-color-theme">Биона
                            Чатутдаева <i class="bi bi-arrow-right-short"></i></a>
                        <p class="mb-3">
                            Приобретенный
                            <span class="float-end small">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </span>
                        </p>
                        <p class="text-secondary">Морковь Lorem ipsum, экологический томатный суп.
                          Андроид автоматизированный актив, если только, eget malesuada ligula ultricies sit amet.
                          Сеть превратилась из ЕС в недвижимость недвижимость.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
