<!-- user information -->
<div class="card shadow-sm mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <figure class="avatar avatar-60 rounded-10">
                    <img src="assets/img/user1.jpg" alt="">
                </figure>
            </div>
            <div class="col px-0 align-self-center">
                <h3 class="mb-0 text-color-theme">Maxartkiller</h3>
                <p class="text-muted ">Москва, Россия</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="text-muted ">
          Морковь Lorem ipsum, экологический томатный суп. Гранулированный пластик
          разве что, эгет малесуада лигула ультралисиес сит амет. Нетворкинг эволюционировал от
          ЕС именно к инвестированию в недвижимость.
        </p>
    </div>
</div>

<!-- profile information -->
<div class="row mb-3">
    <div class="col">
        <h6>Основная информация</h6>
    </div>
</div>
<div class="row h-100 mb-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-floating mb-3">
            <select class="form-control" id="country">
                <option selected>Россия (+7)</option>
                <option>Великобритания (+44)</option>
            </select>
            <label for="country">Страна</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" class="form-control" value="Maxartkiller" placeholder="Имя" id="names">
            <label for="names">Имя</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating  mb-3">
            <input type="text" class="form-control" value="Doe" placeholder="Фамилия" id="surnames">
            <label for="surnames">Фамилия</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating mb-3">
            <input type="text" class="form-control" value="info@maxartkiller.com"
                placeholder="Email или телефон" id="emailphone">
            <label for="emailphone">Email или телефон</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-group form-floating">
            <input type="file" class="form-control" id="fileupload">
            <label for="fileupload">Загрузить файл</label>
        </div>
    </div>
</div>

<!-- add edit address form -->
<div class="row mb-3">
    <div class="col">
        <h6>Изменить адрес</h6>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" class="form-control" value="Maxartkiller" id="address1"
                placeholder="Your Name">
            <label class="form-control-label" for="address1">Ваше Имя</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" class="form-control" value="265B, Arohhi Appartment" id="address2"
                placeholder="Address Line 1">
            <label class="form-control-label" for="address2">Address Line 1</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" class="form-control" value="Bhuvandi Baug" id="address3"
                placeholder="Address Line 2">
            <label class="form-control-label" for="address3">Address Line 2</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" list="datalistOptions" class="form-control" value="" id="address4"
                placeholder="Выберите страну">
            <datalist id="datalistOptions">
                <option value="Великобритания">
                <option value="Соединенные Штаты Америки" selected>
                <option value="Австралия">
                <option value="Индия">
                <option value="Россия">
            </datalist>
            <label class="form-control-label" for="address4">Страна</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" list="datalistStates" class="form-control" value="" id="address5"
                placeholder="Выберите регион">
            <datalist id="datalistStates">
                <option value="Калифорния">
                <option value="Техас" selected>
                <option value="Флорида">
                <option value="Джоржия">
                <option value="Вирджиния">
            </datalist>
            <label class="form-control-label" for="address5">Регион</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="form-group form-floating">
            <input type="text" class="form-control" value="Нюь Йорк" id="address6" placeholder="City">
            <label class="form-control-label" for="address6">Город</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="form-group form-floating">
            <input type="text" class="form-control" value="68541-44" id="address7" placeholder="Pincode">
            <label class="form-control-label" for="address7">ПИН-код</label>
        </div>
    </div>
</div>

<!-- change password -->
<div class="row mb-3">
    <div class="col">
        <h6>Изменить пароль</h6>
    </div>
</div>
<div class="row h-100 mb-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-floating  mb-3">
            <input type="password" class="form-control" value="asdasdasdsd" placeholder="Password"
                id="password">
            <label for="password">Пароль</label>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="form-floating ">
            <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpassword">
            <label for="confirmpassword">Подтвердите пароль</label>
        </div>
    </div>
</div>

<!-- Email Notifications settings -->
<div class="row mb-3">
    <div class="col">
        <h6>Получение уведомления</h6>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck1" checked>
                                <label class="form-check-label" for="settingscheck1"></label>
                            </div>
                        </div>
                        <div class="col ps-0">
                            <h6 class="mb-1">Email для уведомления</h6>
                            <p class="text-muted small">По умолчанию все уведомления будут отправлены</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck2" checked>
                                <label class="form-check-label" for="settingscheck2"></label>
                            </div>
                        </div>
                        <div class="col ps-0">
                            <h6 class="mb-1">SMS уведомления</h6>
                            <p class="text-muted small">Получать SMS уведомления</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck3">
                                <label class="form-check-label" for="settingscheck3"></label>
                            </div>
                        </div>
                        <div class="col ps-0">
                            <h6 class="mb-1">Доступность профиля</h6>
                            <p class="text-muted small">Каждый может увидеть мой профиль в поиске</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto pr-0 align-self-center text-end">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="settingscheck4">
                                <label class="form-check-label" for="settingscheck4"></label>
                            </div>
                        </div>
                        <div class="col ps-0">
                            <h6 class="mb-1">Отправка запроса</h6>
                            <p class="text-muted small">Каждый может отправить мне запрос</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row h-100 ">
    <div class="col-12 mb-4">
        <a routerLink="/settings" target="_self" class="btn btn-default btn-lg w-100">Обновить</a>
    </div>
</div>
