<div class="row h-100">
    <div class="col-11 col-sm-11 mx-auto">
        <!-- header -->
        <div class="row">
            <header class="header">
                <div class="row">
                    <div class="col">
                        <div class="logo-small">
                            <img src="assets/img/logo.png" alt="" />
                            <h5>FirePay</h5>
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <a routerLink="/signin">Войти</a>
                    </div>
                </div>
            </header>
        </div>
        <!-- header ends -->
    </div>
    <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center py-4">
        <h5>Кто мы</h5>
        <p>Адрес нашего веб-сайта: https://www.maxartkiller.com.</p>
        <br>
        <h6>Какие персональные данные мы собираем и почему мы их собираем</h6>
        <h6>Комментарии</h6>
        <p>Когда посетители оставляют комментарии на сайте, мы собираем данные, указанные в форме комментариев, а также
          IP-адрес посетителя и строку пользовательского агента браузера, чтобы помочь обнаружению спама.</p>
        <p>Анонимизированная строка, созданная на основе вашего адреса электронной почты (также называемая хэшем), может быть предоставлена службе
          Gravatar, чтобы узнать, используете ли вы ее. С политикой конфиденциальности сервиса Gravatar можно ознакомиться здесь:
            https://automattic.com/privacy/.После одобрения вашего комментария фотография вашего профиля будет видна
            широкой публике в контексте вашего комментария.</p>
        <h6>Медиа</h6>
        <p>Если вы загружаете изображения на веб-сайт, вам следует избегать загрузки изображений со встроенными данными о местоположении (EXIF
          GPS) включен. Посетители веб-сайта могут загружать и извлекать любые данные о местоположении из изображений на
          веб-сайте.</p>
        <h6>Куки-файлы</h6>
        <p>Если вы оставляете комментарий на нашем сайте, вы можете отказаться от сохранения своего имени, адреса электронной почты и веб-сайта в
          печенье. Это сделано для вашего удобства, чтобы вам не пришлось снова заполнять свои данные, когда вы
          оставьте еще один комментарий. Эти файлы cookie будут храниться в течение одного года.</p>
        <p>Если у вас есть учетная запись и вы входите на этот сайт, мы установим временный файл cookie, чтобы определить, является ли ваш
          браузер принимает файлы cookie. Этот файл cookie не содержит никаких персональных данных и удаляется, когда вы закрываете свой
          браузер.</p>
        <p>Когда вы войдете в систему, мы также настроим несколько файлов cookie для сохранения вашей регистрационной информации и вашего экрана
          выбор отображения. Файлы cookie для входа в систему сохраняются в течение двух дней, а файлы cookie параметров экрана - в течение года. Если ты
          выберите “Запомнить меня”, ваш логин будет сохраняться в течение двух недель. Если вы выйдете из своей учетной записи, логин
          файлы cookie будут удалены.</p>
        <p>Если вы редактируете или публикуете статью, в вашем браузере будет сохранен дополнительный файл cookie. Это печенье
          не содержит никаких личных данных и просто указывает идентификатор публикации статьи, которую вы только что отредактировали. Срок его действия истекает
          через 1 день.</p>
        <h6>Встроенный контент с других веб-сайтов</h6>
        <p>Статьи на этом сайте могут содержать встроенный контент (например, видео, изображения, статьи и т.д.).
          Встроенный контент с других веб-сайтов ведет себя точно так же, как если бы посетитель посетил другой
          вебсайт.</p>
        <p>Эти веб-сайты могут собирать данные о вас, использовать файлы cookie, внедрять дополнительное стороннее отслеживание и
          отслеживать ваше взаимодействие с этим встроенным контентом, включая отслеживание вашего взаимодействия со
          встроенным контентом, если у вас есть учетная запись и вы вошли на этот веб-сайт.</p>
        <h6>Аналитика</h6>
        <p>Когда вы войдете в систему, мы также настроим несколько файлов cookie для сохранения вашей регистрационной информации и вашего экрана
          выбор отображения. Файлы cookie для входа в систему сохраняются в течение двух дней, а файлы cookie параметров экрана - в течение года. Если ты
          выберите “Запомнить меня”, ваш логин будет сохраняться в течение двух недель. Если вы выйдете из своей учетной записи, логин
          файлы cookie будут удалены.</p>
        <p>Если вы редактируете или публикуете статью, в вашем браузере будет сохранен дополнительный файл cookie. Это печенье
          не содержит никаких личных данных и просто указывает идентификатор публикации статьи, которую вы только что отредактировали. Срок его действия истекает
          через 1 день.</p>
        <h5>Как долго мы храним ваши данные</h5>
        <p>Если вы оставляете комментарий, комментарий и его метаданные сохраняются на неопределенный срок. Это делается для того, чтобы мы могли
          автоматически распознавать и одобрять любые последующие комментарии, а не подвергать их модерации
          очередь.</p>
        <p>Для пользователей, которые регистрируются на нашем веб-сайте (если таковые имеются), мы также храним личную информацию, которую они предоставляют в
          их профиль пользователя. Все пользователи могут просматривать, редактировать или удалять свою личную информацию в любое время (за исключением
          они не могут изменить свое имя пользователя). Администраторы веб-сайта также могут просматривать и редактировать эту информацию.</p>
        <h5>Какие права у вас есть на ваши данные</h5>
        <p>Вы можете потребовать, чтобы мы удалили любые персональные данные, которые мы храним о вас. Это не включает в себя какие-либо данные
          , которые мы обязаны хранить в административных, юридических или целях безопасности.</p>
    </div>
    <div class="col-11 col-sm-11 mt-auto mx-auto py-4">
        <div class="row ">
            <div class="col-12 d-grid">
                <a routerLink="/signup" class="btn btn-default btn-lg shadow-sm">Я принимаю условия</a>
            </div>
        </div>
    </div>
</div>
