<!-- About us -->
<div class="row">
    <div class="col-10 mx-auto py-5">
        <h6 class="text-secondary mb-0">Мы лучшие!</h6>
        <h1 class="display-4 mb-0">FinWallApp 2.0</h1>
        <h5 class="text-secondary">Мобильная версия</h5>
        <br>
        <p class="text-secondary">Создано руками человека<br>для всех людей от Maxartkiller с <span
                class="text-danger">❤</span></p>
    </div>
</div>
<div class="row bg-theme text-white">
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">35</span>+</h4>
            <p class="small">Страницы</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">9</span>+</h4>
            <p class="small">Стили</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">2</span></h4>
            <p class="small">Темный<sup></sup>+СНП</p>
        </div>
    </div>
    <div class="col align-self-center">
        <div class="text-center py-4">
            <h4 class="mb-0"><span class="countertext">3</span></h4>
            <p class="small">Меню</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto py-4">
        <h4>Пришло время влюбиться в креативный дизайн, гибкость и уникальность.</h4>
        <p class="text-secondary mt-3">Пользовательские интерфейсы с HTML и CSS также обеспечивают гибкость
          настройки цвета стиля. Мы создали специальные демонстрации шаблонов веб-сайтов и библиотеку
          компонентов, которые будут использоваться в любой демонстрации.</p>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Взаимодействие с пользователем</h6>
                        <p class="text-secondary small">Пользовательский опыт является ключевым приоритетом для нас,
                          и мы всегда думаем о доменах, а также о пользователях из этих бизнес-доменов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Неограниченное количество стилей</h6>
                        <p class="text-secondary small">Мы предварительно определили 5+ стилей и создаем очень собственный
                           новый стиль, изменяя и перекомпилируя предоставленный файл varibles в SCSS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Лучший фреймворк</h6>
                        <p class="text-secondary small">Мы и многие из нас любим фреймворк bootstrap,
                          поэтому мы создали FinWallApp с версией Bootstrap 5.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Множество иконок</h6>
                        <p class="text-secondary small">Есть много возможностей использовать иконки с любыми иконками шрифтов.
                          Здесь мы использовали иконки начальной загрузкию</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-md-6">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Чистый код</h6>
                        <p class="text-secondary small">Мы потренировались с чистым кодом, больше не комментируемые области
                          и только требуемые комментарии. Также проверяется с помощью валидатора W3C.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 ">
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2">Документация</h6>
                        <p class="text-secondary small">Мы добавили документацию для понимания базовой структуры папок
                          и шагов по изменению стилей с помощью фрагментов кода.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 py-4">
        <h4>Присоединяйтесь к эмоциям!</h4>
        <h6>Выразите свой бренд с помощью FinWallApp</h6>
        <p class="text-secondary mt-3">Наш HTML-шаблон FinWallApp является творческим ручным мастером
          с учетом человеческого поведения с последовательностью и цветовым контрастом.
          Мы создали полную демо-версию веб-сайта с несколькими демо-версиями домена / бизнеса,
          в отличие от любого другого шаблона на рынке.</p>
    </div>
</div>
