<!-- user block -->
<div class="row">
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Евгений Мохан</p>
                <p class="text-small text-secondary small">Главный дизайнер</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Елизавета Волкова</p>
                <p class="text-small text-secondary small">Ведущий дизайнер</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Вячеслав Молотков</p>
                <p class="text-small text-secondary small">Ведущий маркетолог</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user4.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Aлбан Кахоев</p>
                <p class="text-small text-secondary small">Разработчик</p>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Евгений Родин</p>
            </div>
            <div class="card-footer border-0 text-center">
                <p class="text-small text-muted small">UX дизайнер</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme text-dark">
            <div class="card-body text-center bg-white rounded-15 shadow-sm">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-80 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <p class="mb-0 text-color-theme text-center">Олег Громов</p>
            </div>
            <div class="card-footer border-0 text-center">
                <p class="text-small text-muted small">UX дизайнер</p>
            </div>
        </div>
    </div>
</div>
<!-- User list items  -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4 ">
            <ul class="list-group list-group-flush bg-none">
                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user1.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p>Анжелика Мохан<br><small class="text-secondary">Младший инженер-программист</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">В сети <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user2.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Антон Мохан<br><small class="text-secondary">Проджект менеджер</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">В сети <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user3.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Aнастасия Кохан<br><small class="text-secondary">Ведущий UX дизайнер</small></p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">В сети <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="list-group-item border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body p-1">
                                    <figure class="avatar avatar-44 rounded-15">
                                        <img src="assets/img/user1.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col px-0">
                            <p>Aлександр Ивлев<br><small class="text-secondary">Руководитель отдела маркетинга</small>
                            </p>
                        </div>
                        <div class="col-auto text-end">
                            <p>
                                <small class="text-secondary">В сети <span
                                        class="avatar avatar-6 rounded-circle bg-success d-inline-block"></span></small>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2">
            <div class="card-body text-center shadow-sm rounded-15">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user1.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">Роман Хазин</h6>
                <p class="text-small text-secondary small">Главный дизайнер</p>
                <p>Морковь Lorem ipsum, повышенные скидки, но eiusmod us
                  ссылки ниже.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2 bg-theme">
            <div class="card-body text-center shadow-sm rounded-15 bg-white text-dark ">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user2.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">Алекс Нордман</h6>
                <p class="text-small text-secondary small">Ведущий дизайнер</p>
                <p>Морковь Lorem ipsum, повышенные скидки, но eiusmod us
                  ссылки ниже.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-white mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm p-2">
            <div class="card-body text-center shadow-sm rounded-15">
                <div class="row align-items-center ">
                    <a routerLink="/profile " class="col-auto mx-auto">
                        <div class="card mb-3">
                            <div class="card-body p-1">
                                <figure class="avatar avatar-100 mx-auto rounded-15">
                                    <img src="assets/img/user3.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <h6 class="card-title mb-0 text-color-theme text-center">Joy Arihant</h6>
                <p class="text-small text-secondary small">UX Designer</p>
                <p>Морковь Lorem ipsum, повышенные скидки, но eiusmod us
                  ссылки ниже.</p>
            </div>
            <div class="card-footer text-center border-0">
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-facebook"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-twitter"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-linkedin"></i></a>
                <a routerLink="/" class="text-secondary mx-2"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
