<!-- summary blocks -->
<div class="row">
    <div class="col-12 px-0">
        <swiper class="summayswiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                            <i class="bi bi-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="text-secondary size-12 mb-0">Бонус</p>
                                <p>48546 баллов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 bg-success text-white shadow-sm rounded-15">
                                            <i class="bi bi-cash-stack"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="text-secondary size-12 mb-0">Кешбэк</p>
                                <p>150 &#8381;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 bg-primary text-white shadow-sm rounded-15">
                                            <i class="bi bi-controller"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="text-secondary size-12 mb-0">Геймплей</p>
                                <p>105 монет</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card shadow-sm mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 bg-info text-white shadow-sm rounded-15">
                                            <i class="bi bi-droplet"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col px-0 align-self-center">
                                <p class="text-secondary size-12 mb-0">Топливо</p>
                                <p>3 л.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
<!-- offers banner-->
<div class="row mb-4">
    <div class="col-12">
        <div class="card theme-bg overflow-hidden">
            <figure class="m-0 p-0 position-absolute top-0 start-0 w-100 h-100 coverimg right-center-img"
                style="background-image: url(assets/img/offerbg.png);">
                <img src="assets/img/offerbg.png" alt="" style="display: none;">
            </figure>
            <div class="card-body py-4">
                <div class="row">
                    <div class="col-10 align-self-center">
                        <h1 class="mb-3"><span class="fw-light">15% СКИДКА</span><br>Подарочная карта</h1>
                        <p>Вы получили подарочную карту. Спасибо, что были с нами!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service provider -->
<div class="row mb-3">
    <div class="col">
        <h6 class="title">Популярные поставщики услуг</h6>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 px-0">
        <!-- swiper users connections -->
        <swiper class="connectionwiper" [slidesPerView]="'auto'" [spaceBetween]="0" [pagination]="false">
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company2-50.png" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">Квартира 20%</p>
                        <div class="tag tag-small bg-warning border-warning text-white">50 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company5.png" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">20% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">100 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company3.jpg" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">25% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">250 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company4.jpg" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">10% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">50 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company2-50.png" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">Квартира 20%</p>
                        <div class="tag tag-small bg-warning border-warning text-white">50 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company5.png" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">20% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">100 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company3.jpg" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">25% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">250 баллов</div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="card">
                                    <div class="card-body p-1">
                                        <div class="avatar avatar-50 shadow-sm rounded-15 theme-bg text-white">
                                            <img src="assets/img/company4.jpg" alt="" class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-color-theme size-12 small mb-1">10% Скидка</p>
                        <div class="tag tag-small bg-warning border-warning text-white">50 баллов</div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
<!-- rewards withdraw -->
<div class="row mb-1 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-opac-50 mb-3">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                    <i class="bi bi-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0">Вывод средств на счет</p>
                        <p class="text-secondary small">Get 100 &#8381; за 100 баллов</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row mb-4 position-relative">
                            <div class="col pe-0">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control " id="amountpoints" placeholder="Баллы"
                                        value="4800">
                                    <label class="form-control-label" for="amountpoints">Баллов</label>
                                </div>
                            </div>
                            <div class="col align-self-center ps-0">
                                <div class="form-group form-floating">
                                    <input type="text" class="form-control text-end" id="amountcurrency"
                                        placeholder="Currency" value="4800">
                                    <label class="form-control-label text-end pe-1 end-0 start-auto"
                                        for="amountcurrency">Получаете</label>
                                </div>
                            </div>
                            <button
                                class="btn btn-44 btn-success text-white shadow-sm position-absolute start-50 top-50 translate-middle">
                                <i class="bi bi-arrow-left-right"></i>
                            </button>
                        </div>
                        <h6 class="title mb-3">Вывод средств на счет</h6>
                        <div class="row">
                            <div class="col-12 px-0">
                                <swiper class="cardswiper" [slidesPerView]="'auto'" [spaceBetween]="0"
                                    [pagination]="false">
                                    <ng-template swiperSlide>
                                        <div class="card theme-bg shadow-sm shadow-purple">
                                            <img src="assets/img/card-bg.png" alt="" class="cardimg" />
                                            <div class="card-body">
                                                <div class="row mb-4">
                                                    <div class="col-auto align-self-center">
                                                        <img src="assets/img/maestro.png" alt="">
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-muted size-10">Банк
                                                                Москвы</span><br>
                                                            <span class="">Кредитная карта</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <h6 class="fw-normal mb-3">
                                                    0000 0000 0001 5465
                                                </h6>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="mb-0 text-muted size-10">срок до</p>
                                                        <p>09/23</p>
                                                    </div>
                                                    <div class="col text-end">
                                                        <p class="mb-0 text-muted size-10">Card Holder
                                                        </p>
                                                        <p>Maxartkiller</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div class="card bg-danger shadow-sm shadow-danger">
                                            <div class="card-body">
                                                <div class="row mb-4">
                                                    <div class="col-auto align-self-center">
                                                        <img src="assets/img/visa.png" alt="">
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-muted size-10">ВТБ
                                                                банк</span><br>
                                                            <span class="">Кредитная карта</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <h6 class="fw-normal mb-3">
                                                    2200 0000 0001 5465
                                                </h6>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="mb-0 text-muted size-10">срок до</p>
                                                        <p>09/23</p>
                                                    </div>
                                                    <div class="col text-end">
                                                        <p class="mb-0 text-muted size-10">Card Holder
                                                        </p>
                                                        <p>Maxartkiller</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div class="card theme-radial-gradient border-0">
                                            <div class="card-body">
                                                <div class="row mb-4">
                                                    <div class="col-auto align-self-center">
                                                        <img src="assets/img/maestro.png" alt="">
                                                    </div>
                                                    <div class="col align-self-center text-end">
                                                        <p class="small">
                                                            <span class="text-muted size-10">Сбербанк
                                                                </span><br>
                                                            <span class="">Кредитная карта</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <h6 class="fw-normal mb-3">
                                                    2200 0000 0001 5465
                                                </h6>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="mb-0 text-muted size-10">срок до</p>
                                                        <p>09/23</p>
                                                    </div>
                                                    <div class="col text-end">
                                                        <p class="mb-0 text-muted size-10">Card Holder
                                                        </p>
                                                        <p>Maxartkiller</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </swiper>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-default shadow-sm w-100">
                    Вывести
                </button>
            </div>
        </div>
    </div>
</div>
<!-- large discount block-->
<div class="row mb-1 justify-content-center">
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                    <img src="assets/img/company2-50.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">20<small>% Скидка</small></p>
                        <div class="tag tag-small bg-warning border-warning text-white px-2">50 баллов</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-secondary">потратьте минимум 12200 РУБ и получите максимальную скидку 2400 РУБ</span>
                    <br /><a routerLink="/">больше информации</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                    <img src="assets/img/company4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">60<small>% Скидка</small></p>
                        <div class="tag tag-small bg-warning border-warning text-white px-2">100 баллов</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-secondary">потратьте минимум 45200 РУБ и получите максимальную скидку 6000 РУБ</span>
                    <br /><a routerLink="/">больше информации</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                    <img src="assets/img/company2-50.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">17<small>% Скидка</small></p>
                        <div class="tag tag-small bg-warning border-warning text-white px-2">250 баллов</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-secondary">потратьте минимум 12200 РУБ и получите максимальную скидку 2400 РУБ</span>
                    <br /><a routerLink="/">больше информации</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-auto align-self-center">
                        <div class="card">
                            <div class="card-body p-1">
                                <div class="avatar avatar-50 bg-warning text-white shadow-sm rounded-15">
                                    <img src="assets/img/company3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-center ps-0">
                        <p class="mb-0 text-color-theme">55<small>% Скидка</small></p>
                        <div class="tag tag-small bg-warning border-warning text-white px-2">150 баллов</div>
                    </div>
                </div>
                <p class="size-12">
                    <span class="text-secondary">потратьте минимум 45200 РУБ и получите максимальную скидку 6000 РУБ</span>
                    <br /><a routerLink="/"> больше информации</a>
                </p>
            </div>
        </div>
    </div>
</div>
