<div class="row h-100">
    <div class="col-11 col-sm-11 mx-auto">
        <!-- header -->
        <div class="row">
            <header class="header">
                <div class="row">
                    <div class="col">
                        <div class="logo-small">
                            <img src="assets/img/logo.png" alt="" />
                            <h5>FirePay</h5>
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <a routerLink="/signin">Войти</a>
                    </div>
                </div>
            </header>
        </div>
        <!-- header ends -->
    </div>
    <div class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center py-4">
        <h1 class="mb-3"><span class="text-secondary fw-light">Подтвердите Ваш</span><br/>номер телефона</h1>
        <p class="text-secondary mb-4">Мы отправили вам сообщение с кодом.</p>

        <div class="form-group form-floating mb-3 is-valid">
            <input type="text" class="form-control" value="" id="OTP" placeholder="Введите код" [(ngModel)]="code">
            <label class="form-control-label" for="OTP">Введите код</label>
        </div>
      <p class="text-danger position-absolute">{{ this.error }}</p>
    </div>
    <div class="col-11 col-sm-11 mt-auto mx-auto py-4">
        <div class="row ">
            <div class="col-auto text-center mx-auto">
<!--                <span class="progressstimer">-->
<!--                    <img src="assets/img/progress.png" alt="">-->
<!--                    <span class="timer" id="timer">3:00</span>-->
<!--                </span>-->
                <br />
                <p class="mb-3"><span class="text-muted">Не получили? </span> <a>Отправить OTP заново</a>
                </p>
            </div>
            <div class="col-12 d-grid">
                <a class="btn btn-default btn-lg shadow-sm" (click)="sendCode()">Подтвердите аккаунт</a>
            </div>
        </div>
    </div>
</div>
