<!-- list pages -->
<div class="card shadow-sm mb-4">
    <div class="card-body text-center ">
        <p class="text-muted">All the customized list of pages displayed and more creative things you will
            find inside each page.</p>
    </div>
    <ul class="list-group list-group-flush bg-none">
        <li class="list-group-item"><a routerLink="/aboutus" class="text-normal d-block">О нас <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/blog" class="text-normal d-block">Блоги <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/blogdetails" class="text-normal d-block">Блог подробно <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/messages" class="text-normal d-block">Чат сообщений <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/chat" class="text-normal d-block">Список пользователей чата <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/" class="text-normal d-block">Преимущества <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/home" class="text-normal d-block">Домашняя <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/landing" class="text-normal d-block">Страница входа <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/notifications" class="text-normal d-block">Уведомления <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/stats" class="text-normal d-block">Статистика <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/style" class="text-normal d-block">Стили <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/404" class="text-normal d-block">404 Ошибка <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/faqs" class="text-normal d-block">Форумы <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/userlist" class="text-normal d-block">Список пользователей <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/timeline" class="text-normal d-block">Страница журнала изменений <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/contactus" class="text-normal d-block">Свяжитесь с нами <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/termsandconditions" class="text-normal d-block">Условия и Приложения <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item bg-light"> <h5>Финансы</h5> </li>
        <li class="list-group-item"><a routerLink="/addmoney" class="text-normal d-block">Пополнит кошелек <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/allreceivemoney" class="text-normal d-block">Все запросы на получение <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/bills" class="text-normal d-block">Счета <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/pay" class="text-normal d-block">Быстрая оплата <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/receivemoney" class="text-normal d-block">Получение денег <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/rewards" class="text-normal d-block">Бонусная система <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/sendmoney" class="text-normal d-block">Перевод денег <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/wallet" class="text-normal d-block">Кошелек <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/withdraw" class="text-normal d-block">Вывод <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item bg-light"> <h5>Аккаунт Пользователя</h5> </li>
        <li class="list-group-item"><a routerLink="/signin" class="text-normal d-block">Вход в систему <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/signup" class="text-normal d-block">Регистрация <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/profile" class="text-normal d-block">Профиль <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/forgetpassword" class="text-normal d-block">Забыли пароль<i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/resetpassword" class="text-normal d-block">Сброс пароля <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/verify" class="text-normal d-block">Подтверждение <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item  fw-bold">Покупки и Коммерция</li>
        <li class="list-group-item"><a routerLink="/shop" class="text-normal d-block">Магазин <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/allproducts" class="text-normal d-block">Все товары <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/product" class="text-normal d-block">Товар <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/myorders" class="text-normal d-block">Мои заказы <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/cart" class="text-normal d-block">Корзина <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/address" class="text-normal d-block">Адрес <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/addaddress" class="text-normal d-block">Добавить адрес <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/payment" class="text-normal d-block">Оплата <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/invoice" class="text-normal d-block">Накладная <i class="float-end bi bi-arrow-right"></i></a></li>
        <li class="list-group-item"><a routerLink="/track" class="text-normal d-block">Отслеживание заказа<i class="float-end bi bi-arrow-right"></i></a></li>
    </ul>
</div>

<div class="clearfix"></div>
